* {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #ffe600;
  min-height: 100vh;
}
.skin {
  position: relative;
}

.nose {
  position: relative;
  left: 50%;
  top: 140px;
  margin-left: -10px;
  border: 10px solid red;
  border-color: black transparent transparent transparent;
  height: 20px;
  width: 20px;
  /* border-radius: 50%; */
  z-index: 1;
}
.nose:hover {
  animation: wave 300ms infinite linear;
  transform-origin: 50% 100%;
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(-5deg);
  }
  66% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.yuan {
  height: 6px;
  width: 20px;
  /* border: 1px solid red; */
  position: absolute;
  top: -16px;
  left: -10px;
  border-radius: 50% 50% 0 0;
  background-color: #000;
}
.eyes {
  width: 64px;
  height: 64px;
  border: 2px solid black;
  position: absolute;
  left: 50%;
  margin-left: -32px;
  top: 100px;
  border-radius: 50%;
  background-color: #2e2e2e;
}
.eyes::before {
  content: "";
  display: block;
  border: 3px solid black;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  left: 8px;
}

.eyes.left {
  transform: translateX(-130px);
}
.eyes.right {
  transform: translateX(130px);
}
.mouth {
  width: 200px;
  height: 200px;
  /* border: 1px solid red; */
  position: absolute;
  top: 170px;
  left: 50%;
  margin-left: -100px;
}
.mouth .up {
  position: relative;
  top: -20px;
}
.mouth .up .lip {
  width: 100px;
  height: 30px;
  border: 3px solid black;
  border-top-color: transparent;
  /* border-right-color: transparent; */
  position: absolute;
  left: 50%;
  margin-left: -50px;
  background-color: #ffe600;
  z-index: 1;
}
.mouth .up .lip.left {
  border-radius: 0 0 0 50px;
  transform: rotate(-15deg) translateX(-54px);
}
.mouth .up .lip::before {
  content: "";
  display: block;
  width: 6px;
  height: 30px;
  /* border: 1px solid red; */
  position: absolute;
  bottom: -1px;
  background-color: #ffe600;
}
.mouth .up .lip.left::before {
  right: -6px;
}

.mouth .up .lip.right {
  border-radius: 0 0 50px 0;
  transform: rotate(15deg) translateX(54px);
}

.mouth .up .lip.right::before {
  left: -6px;
}

.mouth .down {
  width: 200px;
  height: 180px;
  /* border: 1px solid red; */
  position: absolute;
  top: 0;
  overflow: hidden;
}
.mouth .down .yuan1 {
  width: 150px;
  height: 1000px;
  border: 3px solid black;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -75px;
  border-radius: 75px/300px;
  background-color: #9b000a;
  overflow: hidden;
}
.mouth .down .yuan2 {
  width: 150px;
  height: 160px;
  /* border: 1px solid green; */
  position: absolute;
  background-color: #ff485f;
  bottom: -17px;
  left: 50%;
  margin-left: -75px;
  border-radius: 50% 50% 0 0;
}
.face {
  width: 88px;
  height: 88px;
  border: 3px solid black;
  position: absolute;
  top: 220px;
  left: 50%;
  margin-left: -44px;
  border-radius: 50%;
  background-color: #ff0000;
  z-index: 3;
}
.face > img {
  position: absolute;
  /* border: 1px solid red; */
  top: 50%;
  left: 50%;
  display: none;
}
.face > img:hover {
  display: block;
}

.face.left > img {
  transform: rotateY(180deg);
  transform-origin: 0 0;
}
.face.left {
  transform: translateX(-180px);
}
.face.right {
  transform: translateX(180px);
}
